/* src/Questionnaire.css */

.questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #F5F5DC;
    /* Beige */
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fadeIn 0.5s;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #B0C4DE;
    /* Azul Polvo */
    color: #2F4F4F;
    /* Gris Oscuro */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #FFC0CB;
    /* Rosa Suave */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-button {
    padding: 10px 20px;
    background-color: #8B4513;
    /* Marrón Chocolate */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #808000;
    /* Verde Oliva */
}